.navbar {
    navbar-expand-lg; 
    navbar-light ;
    bg-dark;
}
.container {
    width: 100%;
}
.intro {
    font-size: 25px;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
}
.gallery {
    column-count: 3;
}
@media (max-width:600px) {
    .gallery {
        column-count: 1;
    }
}
table {
    width: 50%;
}
table#garishtable {
    width: 90%;
    border-right-width: thick;
    border-left-width: thick;
    border-right-color: lawngreen;
    background-color: mediumvioletred;
    font-family: 'Comic Sans MS';
    font-size: 30px;
    color: blue;
    text-align: right;
}
th, td {
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
}
table {
    border: 1px solid black;
    margin: 20px;
}


.flex-container {
    display: flex;
    flex-dirextion: row;
    flex-wrap: wrap;
}
.figcaption {
    font-weight: bold;
}