.vertical-menu {
    width: 110px;
}
.vertical-menu a {
        background-color: darkgray;
        color: white;
        display: block;
        padding: 12px;
        text-decoration: none;
    }
.vertical-menu a:hover {
    background-color: lightblue; 
}
.vertical-menu a.active {
    background-color: cadetblue; 
    color: white;
}

.container {
    width: 100%;
}